body{
    text-align: center;
    margin: 0;

}

.title-container{
    display: flex;
    gap: 100px;
    margin-top: 5px
}

.title-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
}

.title{
    margin-bottom: 0px;
}
.title-slogan{
    margin-top: 5px
}



.lst-container{
}

.lst{
    list-style-type: none;
}